body{
    font-family: 'Open Sans', sans-serif;
    color: #666;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.navbar-brand img{
    background-color: #f25454 ;
    width: 30%;
}
.navbar-brand span ,.navbar-light .navbar-nav .nav-link{
    color: #282828;
    font-weight: 600;

}
.navbar-light .navbar-nav .nav-link{
    font-size: 14px;
}

.navbar-light .navbar-nav .active >.nav-link , .navbar-light .navbar-nav .nav-link:hover{
    color: #f25454;
}

#home .layer .frist-slide
{
 background-image: url(../images/slideshow-1.jpg);
 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
}
#home .layer .secand-slide
{
 background-image: url(../images/slideshow-2.jpg);
 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
}
#home .layer .thrid-slide
{
 background-image: url(../images/slideshow-3.jpg);
 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
}
#home .layer h2{
    font-size: 75px;
    font-weight: 800;
    color: white;
    position: relative;
    top:35%;
    line-height: 1;
}
#home .scroll{
    width: 25px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 15px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%)
}
#home .scroll::after{
    content: "";
    width: 7px;
    height:7px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top:10%;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    animation: moving 1.5s linear infinite;

}
@keyframes moving{
    0%{
        top:10%;
        opacity: 1;

    }
    25%{
        top:25%;
        opacity: 0.7;
    }
    50%{
        top:45%;
        opacity: 0.4;
    }
    100%{

        top:50%;
        opacity: 0;
    }
}
#home .setting{
    top:20%;
    background-color: #1f2528;
    padding: 8px 8px;
    border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;

}
#home .setting:hover{
    background-color:  #444;
    ;
}

#home .setting i {
    font-size: 20px;
    color: #fff;
}

#home .icon-arrows-left{
    border: 1px solid #fff;
    width: 60px;
    height: 40px;
    position: absolute;
    top: 50%;
    text-align: center;
}
#home .icon-arrows-right{
    border: 1px solid #fff;
    width: 60px;
    height: 40px;
    position: absolute;
    top: 55.5%;
    text-align: center;
}
#home .icon i {
    color: #fff;
    font-size: 20px;
    margin-top: 16%;
    
}
#home .icon:hover .log{
    width: 100%;
    z-index: 1;

}
#home .icon:hover i{
    color: chocolate;
    z-index: 3;
}

#home .icon .log{
    content: "";
    width: 0%;
    height:100%;
    background-color: #fff;
    position: absolute;
    opacity: 1;
    left: 0%;
    top: 0%;
    color: sandybrown;
    transition: all 0.5s;
    

}
 /*@keyframes changeWidth{
    0%{
       width: 0%;
    }
    20%{
        width: 20%;
    }
     40%{
        width: 40%;
       
    } 60%{
        width: 60%;
        
    } 80%{
        width: 80%;
        
    } 100%{
        width: 100%;
        
    } 
}

*/
/*-------------------------ABout-----------*/
.title h3{
    font-size: 80px;
    font-weight: 800;
    color: rgba(231, 231, 231, 0.486);
}
.title hr{
    content: "";
    width: 4%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
    transition: all 1s
}
.title:hover hr{
    width: 8%;
    
}
.title h4{
    
    font-size: 40px;
    font-weight: 700;
}
.title-item{
    color: rgb(189, 188, 188);

}
#about .skills p{
    font-weight: 600;
    color: #666;
}

#about .language{
    font-size: 16px;
    font-weight: 600;
    color: #444;
    margin-left: 10px;
}
#about .skill .progress {
    background-color: #eee;

}
#about .progress{
    height: 5px;
}

.progress-bar{
    background-color:#f25454 ;

}

/*------------------------Team-----------*/
#team .items .img{
    position: relative;
    overflow: hidden;
}
#team .items img{
    width: 100%;
    transition: transform 1s;
}
#team .items:hover img{
    transform:  scale(1.2);
}
#team .items h3{
    color: black;
    font-size: 20px;
    padding: 10px 0px 0px;
    transition: all 1s;
}
#team .items:hover h3{
    color: rgba(242, 84, 84, 0.85) ;
}
#team .log {
    background-color: rgba(242, 84, 84, 0.85);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ;

}
#team .items:hover .log{
    opacity: 1;
}
#team .social-icon i{
    color: #fff;
}
#team .social-icon{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
#team .butn{
    background-color: #f25454;
    color: #fff;
    padding: 10px 25px;
    
}
#team .caption{
    font-size: 32px;
    color: black;
}
/*---------------------services--------------------------*/
#services{
    background-color: #fafafa;
}
#services i {
    font-size: 30px;
    
}
#services .service-text h5{
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;
}
#services .icon i {
    color: #f25454; 
   
}
#services .service:hover h5{
    color: #f25454;
}
/*---------------------clients--------------*/
.carousel-indicators img{
    border-radius: 50%;
    width:100%;
    height: 100%;
 
   
}

.carousel-indicators li{
width: 250px;
height: 150px;
border-radius: 50%;
}
.carousel-indicators{
    position: relative;
    top:20%;
    left: -15%;
    overflow: hidden;
    width: 100%;
}
.carousel-item .caption{
    font-size: 30px;
    
}
.carousel-item h4{
    color: black;
}

.client1 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 0%;
    margin:0px  20px;
}
.client1 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 26%;
}
/*-----------------*/
.client2 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 4%;
    margin:0px  20px;
}
.client2 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 21%;
}

 /*-------------*/

 .client3 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 3%;
    margin:0px  20px;
}
.client3 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 22%;
}
/*------------------*/
.client4 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 2%;
    margin:0px  20px;
}
.client4 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 10%;
}
/*------------------*/
.client5 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 1%;
    margin:0px  20px;
}
.client5 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 16%;
}
   /*----------------------*/
.client6 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 1%;
    margin:0px  20px;
}
.client6 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 26%;
}
/*---------------------*/
.client7 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 3%;
    margin:0px  20px;
}
.client7 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 13%;
}
/*----------------------*/
.client8 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 3%;
    margin:0px  20px;
}
.client8 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 11%;
} 
/*---------------------*/
.client9 .fa-quote-left{
    font-size: 30px;
    position: absolute;
    left: 1%;
    margin:0px  20px;
}
.client9 .fa-quote-right{
    font-size: 30px;
    position: absolute;
    bottom: 5%;
    right: 20%;
} 
/*-------------contact-------------*/
#contact{
    background-color: #fafafa;
}
#contact .title-contact{
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;

}
.list-icons li i {
    font-size: 50px;
    color: #f25454;
    
}
.list-icons li .sun{
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;
}
.list-icons li:hover .sun {
    
    color: #f25454;
    
}
#contact input , #contact textarea{
    padding: 10px;
    color: #4e4e4e;
    border: 1px solid #ececec;
    
}
#contact input:hover  ,#contact textarea:hover{
    box-shadow: 0 0 0 1px #f25454;
    border: 1px solid #f25454;

}
#contact .btn{
    background-color:#f25454 ;
    color: #fff;
    padding: 10px 20px;
}
/*-----------------------------------*/
footer{
    background-image: url(../images/dotted-map.png);
    background-color:#222;
    background-size: cover
    
}
footer .item h3{
    color: #fff;
}
footer .item p{
   color: #b0b0b0;
   margin-bottom: 5px;
}
footer .links p:hover{
    color:#f25454 ;
}
footer .btn{
 border: 1px solid #b0b0b0;
 color: snow;
 font-size: 12px;

}
footer .btn:hover{
    border: 1px solid #f25454;
    color: #f25454;
}
footer .foot{
    background-color: black;
    width: 100%;
    color: #fff;
}
footer .foot span{
    font-weight: 600;
}
footer .foot i:hover , footer .foot span:hover{
    color:#f25454 ;
}
footer .uparrow i{
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    

}
footer .uparrow {
    background-color:#f25454c5 ;
    border-radius: 50%;
    width: 5%;
    padding: 15px 20px;
    position: relative;
    top: -30%;
    cursor: pointer;
}
/*------------lg-----------*/
@media screen and (max-width: 960px) {
  
    .client2 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        margin:0px  20px;
    }
    .client2 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 16%;
    }

    /*-----------------------*/
    .client3 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 6%;
        margin:0px  20px;
    }
    .client3 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 14%;
    }
    /*----------------------*/
    .client4 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        margin:0px  20px;
    }
    .client4 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 39%;
    }
    /*---------------------*/
    .client5 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 6%;
        margin:0px  20px;
    }
    .client5 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 2%;
    }
    /*-----------------------*/
    .client6 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 1%;
        margin:0px  20px;
    }
    .client6 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 20%;
    }
    /*-------------------*/
    .client7 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 1%;
        margin:0px  20px;
    }
    .client7 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 4%;
    }
    /*--------------*/
    .client8 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 1%;
        margin:0px  20px;
    }
    .client8 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 1%;
    }
    /*---------------------------*/
    .client9 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 1%;
        margin:0px  20px;
    }
    .client9 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right:10%;
    }
    #contact .title-contact{
        font-size: 16px;
        font-weight: 500;
    
    }
   
       

}
/*------------sm-----------*/
@media screen and (max-width: 720px) {
    
    .client1 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 5%;
        margin:0px  20px;
    }
    .client1 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .client2 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 2%;
        margin:0px  20px;
    }
    .client2 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .client3 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 3%;
        margin:0px  20px;
    }
    .client3 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right:35%;
    }
    .client4 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 6%;
        margin:0px  20px;
    }
    .client4 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 20%;
    }
    .client5 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 2%;
        margin:0px  20px;
    }
    .client5 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 26%;
    }
    .client6 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 2%;
        margin:0px  20px;
    }
    .client6 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 20%;
    }
    .client7 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 8%;
        margin:0px  20px;
    }
    .client7 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 14%;
    }
    .client8 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: -1%;
        margin:0px  20px;
    }
    .client8 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 25%;
    }
    .client9 .fa-quote-left {
        font-size: 30px;
        position: absolute;
        left: 2%;
        margin:0px  20px;
    }
    .client9 .fa-quote-right{
        font-size: 30px;
        position: absolute;
        bottom: 5%;
        right: 35%;
    }

}